{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Registro de Temperaturas</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Temperatura (°C)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in temperaturas %}
                    <tr>
                        <td>{{ registro.fecha }}</td>
                        <td>{{ registro.hora }}</td>
                        <td>{{ registro.temperatura }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
